@import 'fonts.css';
@import 'layout.css';
@import 'modules.css';
@import 'states.css';
@import 'themes.css';
@import 'variables.css';

:root {
    --var-wind-rotation: 0;
    --var-wind-rotation: 0;
}

* {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, 
body {
    padding: 0;
}

body {
    font-family: "majorMono";
    line-height: 1.5em;
    color: #F4F4F4;
    background-image: linear-gradient(#1B406F, #242444 20%);
    overflow-x: hidden;
}

img,
svg {
    display: block;
}

button {
    font-size: inherit;
    cursor: pointer;
}

p {
    line-height: 1.5em;
}

blockquote {
    font-size: .75em;
    font-weight: 900;
}

ul{
    list-style: none;
}

h1 {
    font-family: "decaled";
    font-size: 7em;
    margin: .5em 0;
}

h2 {
    font-family: "decaled";
    font-size: 3em;
    margin: .5em 0;
}


h3 {
    font-size: 1em;
    font-weight: 900;
}

a {
    text-decoration: none;
}

footer {
    margin: 0;
}



