.l-header {
    display: flex;
    flex-direction: column;
    margin: 15em auto;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    margin-bottom: 10em;
}


.l-column {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2em 0;
}

.l-column:first-child {
    margin-top: 100vh;
}

.l-column .type-course {
    margin-bottom: 2em;
}

.l-sticky-nav {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    position: sticky;
    top: 2em;
    z-index: 2;
}

.l-nav {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.l-jellyfish {
    border-style: none;
    position: sticky;
    bottom: 0;
    left: 30%;
    z-index: -1;
    width: 26%;
    height: auto;
}

.l-coral {
    margin: 0;
    padding: 0;
    border-style: none;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: auto;
}

.l-fish {
    position: absolute;
    border-style: none;
    bottom: 2em;
    left:-5em;
    z-index: 0;
    width: 10%;
    height: auto;
}

footer {
    position: relative;
}

.l-quote-wrapper {
    position: absolute;
    left: 35%;
    bottom: 10em;
    z-index: 2;
}

.quote {
    margin: 0;
    padding: 0;
    border-style: none;
    width: 400%;
}