#head {
    transform: scale(0.9);
    animation: pulse 4s infinite both;
    transform-origin: center;
}

#tentacles_1, #tentacles_2, #tentacles_3, #tentacles_4, #big_tentacles {
    transform: translateY(1%);
    animation: movey 4s infinite both;
    transform-origin: center;
    mix-blend-mode: screen;
}

h1 {
    color: rgb(167, 205, 255);
    text-shadow: 10px 3px 20px #db336b;
}

h2 {
    color: rgb(167, 205, 255);
    text-shadow: 5px 2px 20px #db336b;
}

a {
    color: rgb(167, 205, 255);
    text-shadow: 2px 1px #eb3672;
    font-weight: 800;
}

a:focus {
    outline: none;
    border-bottom: 1px solid rgb(167, 205, 255);
}

.l-column article .price {
    font-weight: 900;
}

.l-column article p {
    margin: 0 auto;
    width: 50%;
    font-size: .75em;
}

.l-nav .nav-item:nth-child(odd) {
    margin-top: 1em;
}

.l-jellyfish {
    transform: rotate(var(--wind-jelly-rotation));
}

.l-column article {
    padding: 0 2em;
    margin: 1em 0;
    transform: skewX(var(--wind-rotation));
}

.jelly {
    will-change: transform;
    transform: translateX(0);
    animation: screen 15s infinite both;
}

.l-column .type-course p, blockquote {
    color: rgb(167, 205, 255);
    text-shadow: 2px 1px #eb3672;
}

.address-column {
    transition: all .5s ease-in;
}

.shell {
    opacity: 0;
    transition: opacity .5s ease-in;
}

#plant1, #plant2 {
    will-change: transform;
    transform: skewX(var(--wind-rotation));
    animation: plant 4s infinite both;
    transform-origin: center;
}

.l-fish {
    transform: translateX(100%);
    animation: swim 15s infinite both;
    transform-origin: center;
}

/* https://eddyerburgh.me/create-a-css-only-flip-toggle-switch */


.switch:focus + .toggle{
    border: 1px solid rgba(167, 205, 255, 0.5);
}

.toggle {
    display: inline-block;
    background: rgb(17, 24, 48);
    width: 4em;
    height: 2em;
    border-radius: 1em;
    position: sticky;
    top: 2em;
    cursor: pointer;
    background: rgb(17, 24, 48);
    z-index: 5;
}

.round {
    position: absolute;
    width: 1.8em;
    height: 1.8em;
    margin-bottom: 0.3em;
    margin-top: 0.1em;
    margin-left: 0.3em;
    fill: rgb(219, 51, 107);
    transition: transform 0.2s ease-in;
}