.l-nav .nav-item a:hover {
    color: rgb(255, 196, 0);
    transition: 100ms ease-in-out;
}

.l-nav .nav-item a:active {
    color: rgb(255, 94, 0);
    transition: 100ms ease-in-out;
}

.l-column article:hover {
    color: rgb(167, 205, 255);
    text-shadow: 2px 1px #eb3672;
    transform: rotate(0) scale(1.2);
    transition: 300ms ease-in-out;
}






@keyframes screen {
    0%, 100% {
        transform: translateX(0); 
    }

    50% {
        transform: translateX(-60%);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(0.9); 
    }

    50% {
        transform: scale(1);
    }
}

@keyframes plant {
    0%, 100% {
        transform: skewX(2deg); 
    }

    50% {
        transform: skewX (calc(var(--wind-rotation))-2deg);
    }
}

@keyframes swim {
    0% {
        transform: translateX(0) rotateY(0); 
    }

    25% {
        transform: translateX(102vw) rotateY(0);
    }

    50% {
        transform: translateX(102vw) rotateY(180deg);
    }

    75% {
        transform: translateX(102vw) rotateY(180deg);
    }

    100% {
            transform: translateX(0) rotateY(180deg);
    }
}

@keyframes movey {
    0%, 100% {
        transform: scale(0.9) translateY(1%); 
    }

    50% {
        transform: scale(1) translateY(-1%);
    }
}


@media (max-width: 64em) {
    
    body {
        overflow-x: hidden;
    }

    .l-header {
        margin: 4em auto;
    }

    .l-header h1{
        margin: .5em 2em;
        line-height: 1.2em;
        font-size: 4.8em;
        text-align: center;
        margin-bottom: .1em;
    }

    .l-sticky-nav {
        top: 5em;
        justify-content: center;
        margin-right: 2.5em;
    }

    .l-nav .nav-item:nth-child(odd) {
        margin-top: 4em;
    }

    .l-jellyfish {
        bottom: 5em;
        width: 35%;
    }
    
    .l-fish {
        width: 20%;
    }

    .quote-wrapper {
        position: absolute;
        left: 25%;
        bottom: 20em;
        z-index: 2;
    }
    
    .quote {
        margin: 0;
        padding: 0;
        border-style: none;
        width: 400%;
    }
    
}

@media (max-width: 45em) {

    .quote-wrapper {
        position: absolute;
        left: 15%;
        bottom: 15em;
        z-index: 2;
    }
    
    .quote {
        margin: 0;
        padding: 0;
        border-style: none;
        width: 400%;
    }
    
}

@media (max-width: 35em) {

    .quote-wrapper {
        left: 5%;
        bottom: 10em;
    }
    
    .quote {
        width: 350%;
    }
    
}

@media (max-width: 40em) {

    .quote-wrapper {
        left: 10%;
        bottom: 10em;
    }
    
    .quote {
        width: 350%;
    }
    
}

@media (max-width: 25em) {

    .l-header h1{
        margin: .5em 2em;
        line-height: 1.2em;
        font-size: 4.8em;
        text-align: center;
        margin-bottom: .1em;
    }

    .l-sticky-nav {
        top: 8em;
        justify-content: center;
        margin-right: 2.5em;
    }

    .l-sticky-nav .nav-item {
        font-size: .9em;
    }

    .l-nav .nav-item:nth-child(odd) {
        margin-top: 3em;
    }

    blockquote {
        margin: 0 1em;
    }

    .l-jellyfish {
        bottom: 5em;
        width: 60%;
    }
    
    .l-fish {
        width: 20%;
    }

    .quote-wrapper {
        position: absolute;
        left: 5%;
        bottom: 10em;
        z-index: 2;
    }
    
    .quote {
        margin: 0;
        padding: 0;
        border-style: none;
        width: 300%;
    }
    
}