.l-nav .nav-item a:hover {
    color: rgb(255, 196, 0);
    transition: 100ms ease-in-out;
}

.l-nav .nav-item a:active {
    color: rgb(233, 92, 0);
    transition: 100ms ease-in-out;
}

.l-column article:hover {
    color: rgb(167, 205, 255);
    text-shadow: 2px 1px #eb3672;
    transform: rotate(0) scale(1.2);
    transition: 300ms ease-in-out;
}

.switch:checked ~ .l-header h1 {
    color: rgb(255, 166, 107);
    text-shadow:#eb3672;
}

.switch:checked ~ .l-sticky-nav .l-nav .nav-item a:hover {
    color: rgb(255, 196, 0);
    transition: 100ms ease-in-out;
}

.switch:checked ~ .l-sticky-nav .l-nav .nav-item a:active {
    color: #eb3672;
    transition: 100ms ease-in-out;
}

.switch:checked ~ .l-sticky-nav .l-nav .nav-item a {
    color: rgb(255, 166, 107);
    text-shadow:#eb3672;
}

.switch:checked ~ .l-main .l-column .type-course h2 {
    color: rgb(255, 166, 107);
    text-shadow:#eb3672;
}

.switch:checked ~ .l-main .l-column article:hover {
    color: rgb(255, 166, 107);
    text-shadow:#eb3672;
    transform: rotate(0) scale(1.2);
    transition: 300ms ease-in-out;
}

.switch:checked ~ .l-main .l-column .type-course p {
    color: rgb(255, 166, 107);
    text-shadow:#eb3672;
}

.switch:checked ~ .l-main .l-column .type-course blockquote cite {
    color: rgb(255, 166, 107);
    text-shadow:#eb3672;
}
  
.switch:checked ~ .toggle .round {
  transform: translateX(1.7em);
  transition: transform 0.2s ease-in;
}
.switch ~ .toggle .round #small-fish > .cls-1 {
  transition: transform 0.2s ease-in;
}
.switch:checked ~ .toggle .round #small-fish > .cls-1 {
  fill: rgb(233, 92, 0);
}

.address-column:hover {
    letter-spacing: .5em;
    color: rgb(167, 205, 255);
    text-shadow: 2px 1px #eb3672;
}

.switch:checked ~ footer .address-column:hover {
    color: rgb(255, 166, 107);
    text-shadow:#eb3672;
}



.switch:checked ~ .l-jellyfish #big_tentacles > .cls-2 {
    fill: url(#pink-orange);
}

.switch:checked ~ .l-jellyfish #big_tentacles > .cls-3 {
    fill: url(#pink-orange-2);
}

.switch:checked ~ .l-jellyfish #tentacles_2 > .cls-5 {
    fill: url(#pink-orange_kopie);
}

.switch:checked ~ .l-jellyfish #tentacles_2 > .cls-6 {
    fill: url(#pink-orange_kopie-2);
}

.switch:checked ~ .l-jellyfish #tentacles_3 > .cls-7 {
    fill: url(#pink-orange_kopie-3);
}

.switch:checked ~ .l-jellyfish #tentacles_3 > .cls-8 {
    fill: url(#pink-orange_kopie-4);
}

.switch:checked ~ .l-jellyfish #tentacles_4 > .cls-9 {
    fill: url(#pink-orange_kopie-5);
}

.switch:checked ~ .l-jellyfish #tentacles_4 > .cls-10 {
    fill: url(#pink-orange_kopie-6);
}

.switch:checked ~ .l-jellyfish #tentacles_5 > .cls-11 {
    fill: url(#pink-orange_kopie-7);
}

.switch:checked ~ .l-jellyfish #tentacles_5 > .cls-12 {
    fill: url(#pink-orange_kopie-8);
}

.switch:checked ~ .l-jellyfish #tentacles_1 > .cls-13 {
    fill: url(#pink-orange_kopie-9);
}

.switch:checked ~ .l-jellyfish #tentacles_1 > .cls-14 {
    fill: url(#pink-orange_kopie-10);
}

.switch:checked ~ .l-jellyfish #head >  .cls-15 {
    fill: url(#pink-orange-3);
}

.switch:checked ~ .l-jellyfish #head >  .cls-16 > .cls-17 {
    fill: url(#pink-orange-4);
}

.switch:checked ~ footer .l-coral #plant1 > .class-7 {
    fill: #f4501e;
}

.switch:checked ~ footer .l-coral #plant1 > .class-8 {
    fill: #ff781d;
}

.switch:checked ~ footer .l-coral #plant1 >  .class-9 {
    fill: #ff743e;
}

.address-column:hover + .shell {
    opacity: 1;
}


@keyframes screen {
    0%, 100% {
        transform: translateX(0); 
    }

    50% {
        transform: translateX(-60%);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(0.9); 
    }

    50% {
        transform: scale(1);
    }
}

@keyframes plant {
    0%, 100% {
        transform: skewX(2deg); 
    }

    50% {
        transform: skewX (calc(var(--wind-rotation))-2deg);
    }
}

@keyframes swim {
    0% {
        transform: translateX(0) rotateY(0); 
    }

    25% {
        transform: translateX(102vw) rotateY(0);
    }

    50% {
        transform: translateX(102vw) rotateY(180deg);
    }

    75% {
        transform: translateX(102vw) rotateY(180deg);
    }

    100% {
            transform: translateX(0) rotateY(180deg);
    }
}

@keyframes movey {
    0%, 100% {
        transform: scale(0.9) translateY(1%); 
    }

    50% {
        transform: scale(1) translateY(-1%);
    }
}


@media (max-width: 64em) {
    
    body {
        overflow-x: hidden;
    }

    .l-header {
        margin: 4em auto;
    }

    .l-header h1{
        margin: .5em 2em;
        line-height: 1.2em;
        font-size: 4.8em;
        text-align: center;
        margin-bottom: .1em;
    }

    .l-sticky-nav {
        top: 5em;
        justify-content: center;
        margin-right: 2.5em;
    }

    .l-nav .nav-item:nth-child(odd) {
        margin-top: 4em;
    }

    .l-jellyfish {
        bottom: 5em;
        width: 35%;
    }
    
    .l-fish {
        width: 20%;
    }

    .l-quote-wrapper {
        position: absolute;
        left: 25%;
        bottom: 20em;
        z-index: 2;
    }
    
    .quote {
        margin: 0;
        padding: 0;
        border-style: none;
        width: 400%;
    }
    
}

@media (max-width: 45em) {

    .l-quote-wrapper {
        left: 15%;
        bottom: 15em;
    }
    
    .quote {
        width: 400%;
    }

    .address-column:hover{
        letter-spacing: .2em;
    }
    
}

@media (max-width: 40em) {

    .l-quote-wrapper {
        left: 10%;
        bottom: 10em;
    }
    
    .quote {
        width: 350%;
    }

    .address-column {
        left: -2em;
    }

    .address-column li{
        font-size: .75em;
    }

    .address-column:hover{
        letter-spacing: .15em;
    }
    
}

@media (max-width: 35em) {

    .l-quote-wrapper {
        left: 5%;
        bottom: 10em;
    }
    
    .quote {
        width: 350%;
    }
    
}

@media (max-width: 25em) {

    .l-header h1{
        margin: .5em 2em;
        line-height: 1.2em;
        font-size: 4.8em;
        text-align: center;
        margin-bottom: .1em;
    }

    .l-sticky-nav {
        top: 8em;
        justify-content: center;
        margin-right: 2.5em;
    }

    .l-sticky-nav .nav-item {
        font-size: .9em;
    }

    .l-nav .nav-item:nth-child(odd) {
        margin-top: 3em;
    }

    blockquote {
        margin: 0 1em;
    }

    .l-jellyfish {
        bottom: 5em;
        width: 60%;
    }
    
    .l-fish {
        width: 20%;
    }

    .l-quote-wrapper {
        left: 5%;
        bottom: 10em;
    }
    
    .quote {
        width: 300%;
    }
    
}