/* ######################## IMPORTS ######################## */

@font-face {
    font-family: "decaled";
    src: url("../fonts/decaledscript.ttf") format("opentype")
  }

@font-face {
  font-family: "majorMono";
  src: url("../fonts/MajorMonoDisplay-Regular.ttf") format("opentype")
}



/* ######################## BASE ######################## */

* {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, 
body {
    padding: 0;
}

body {
    font-family: "majorMono";
    line-height: 1.5em;
    color: #F4F4F4;
    background-image: linear-gradient(#1B406F, #242444 20%);
    margin: 4em;
    overflow-x: hidden;
}

img,
svg {
    display: block;
}

button {
    font-size: inherit;
    cursor: pointer;
}

p {
    line-height: 1.5em;
}

blockquote {
    font-size: .75em;
    font-weight: 900;
}

h1 {
    font-family: "decaled";
    font-size: 7em;
    margin: .5em 0;
}

h2 {
    font-family: "decaled";
    font-size: 3em;
    margin: .5em 0;
}


h3 {
    font-size: 1em;
    font-weight: 900;
}

a {
    text-decoration: none;
}



/* ######################## LAYOUT ######################## */

.l-right {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}


.l-column {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2em 0;
}

.l-column:first-child {
    margin-top: 100vh;
}

.l-column .type-course {
    margin-bottom: 2em;
}

.l-sticky-navigation {
    display: flex;
    justify-content: center;
    margin: 2em;
    position: sticky;
    top: 2em;
    z-index: 2;
}

.l-menu {
    list-style: none;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.l-jellyfish {
    border-style: none;
    position: sticky;
    bottom: 0;
    left: 30%;
    z-index: -1;
    width: 28%;
    height: auto;
}



/* ######################## MODULES ######################## */

#head {
    transform: scale(0.9);
    animation: pulse 4s infinite both;
    transform-origin: center;
}

#tentacles_1, #tentacles_2, #tentacles_3, #tentacles_4, #big_tentacles {
    transform: translateY(1%);
    animation: movey 4s infinite both;
    transform-origin: center;
    mix-blend-mode: screen;
}

h1 {
    color: rgb(167, 205, 255);
    text-shadow: 10px 3px #eb3672;
}

h2 {
    color: rgb(167, 205, 255);
    text-shadow: 5px 2px #eb3672;
}

a {
    color: rgb(167, 205, 255);
    text-shadow: 2px 1px #eb3672;
    font-weight: 800;
}

.l-column article .price {
    font-weight: 900;
}

.l-column article p {
    margin: 0 auto;
    width: 50%;
    font-size: .75em;
}

.l-menu .list-item:nth-child(odd) {
    margin-top: 1em;
}

.l-jellyfish {
    transform: rotate(var(--wind-jelly-rotation));
}

.l-column article {
    margin: 1em 0;
    transform: skewX(var(--wind-rotation));
}

.jelly {
    transform: translateX(0);
    animation: screen 15s infinite both;
}

.l-column .type-course p, blockquote {
    color: rgb(167, 205, 255);
    text-shadow: 2px 1px #eb3672;
}



/* ######################## STATES ######################## */

.l-column article:hover {
    color: rgb(167, 205, 255);
    text-shadow: 2px 1px #eb3672;
    transform: rotate(0) scale(1.2);
    transition: 300ms ease-in-out;
}


/* ######################## THEMES ######################## */

/* #big_tentacles > .cls-2 {
    fill: url(#pink-orange);
}

#big_tentacles > .cls-3 {
    fill: url(#pink-orange);
}

#tentacles_2 > .cls-5 {
    fill: url(#pink-orange);
}

#tentacles_2 > .cls-6 {
    fill: url(#pink-orange);
}

#tentacles_3 > .cls-7 {
    fill: url(#pink-orange);
}

#tentacles_3 > .cls-8 {
    fill: url(#pink-orange);
}

#tentacles_4 > .cls-9 {
    fill: url(#pink-orange);
}

#tentacles_4 > .cls-10 {
    fill: url(#pink-orange);
}

#tentacles_5 > .cls-11 {
    fill: url(#pink-orange);
}

#tentacles_5 > .cls-12 {
    fill: url(#pink-orange);
}

#tentacles_1 > .cls-13 {
    fill: url(#pink-orange);
}

#tentacles_1 > .cls-14 {
    fill: url(#pink-orange);
}

#head >  .cls-15 {
    fill: url(#pink-orange);
}

#head >  .cls-16 > .cls-17 {
    fill: url(#pink-orange);
} */



@keyframes screen {
    0%, 100% {
        transform: translateX(0); 
    }

    50% {
        transform: translateX(-20%);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(0.9); 
    }

    50% {
        transform: scale(1);
    }
}

@keyframes movey {
    0%, 100% {
        transform: scale(0.9) translateY(1%); 
    }

    50% {
        transform: scale(1) translateY(-1%);
    }
}


