.switch:checked ~ .l-jellyfish #big_tentacles > .cls-2 {
    fill: url(#pink-orange);
}

.switch:checked ~ .l-jellyfish #big_tentacles > .cls-3 {
    fill: url(#pink-orange-2);
}

.switch:checked ~ .l-jellyfish #tentacles_2 > .cls-5 {
    fill: url(#pink-orange_kopie);
}

.switch:checked ~ .l-jellyfish #tentacles_2 > .cls-6 {
    fill: url(#pink-orange_kopie-2);
}

.switch:checked ~ .l-jellyfish #tentacles_3 > .cls-7 {
    fill: url(#pink-orange_kopie-3);
}

.switch:checked ~ .l-jellyfish #tentacles_3 > .cls-8 {
    fill: url(#pink-orange_kopie-4);
}

.switch:checked ~ .l-jellyfish #tentacles_4 > .cls-9 {
    fill: url(#pink-orange_kopie-5);
}

.switch:checked ~ .l-jellyfish #tentacles_4 > .cls-10 {
    fill: url(#pink-orange_kopie-6);
}

.switch:checked ~ .l-jellyfish #tentacles_5 > .cls-11 {
    fill: url(#pink-orange_kopie-7);
}

.switch:checked ~ .l-jellyfish #tentacles_5 > .cls-12 {
    fill: url(#pink-orange_kopie-8);
}

.switch:checked ~ .l-jellyfish #tentacles_1 > .cls-13 {
    fill: url(#pink-orange_kopie-9);
}

.switch:checked ~ .l-jellyfish #tentacles_1 > .cls-14 {
    fill: url(#pink-orange_kopie-10);
}

.switch:checked ~ .l-jellyfish #head >  .cls-15 {
    fill: url(#pink-orange-3);
}

.switch:checked ~ .l-jellyfish #head >  .cls-16 > .cls-17 {
    fill: url(#pink-orange-4);
}

.switch:checked ~ footer .l-coral #plant1 > .class-7 {
    fill: #f4501e;
}

.switch:checked ~ footer .l-coral #plant1 > .class-8 {
    fill: #ff781d;
}

.switch:checked ~ footer .l-coral #plant1 >  .class-9 {
    fill: #ff743e;
}