/* #big_tentacles > .cls-2 {
    fill: url(#pink-orange);
}

#big_tentacles > .cls-3 {
    fill: url(#pink-orange);
}

#tentacles_2 > .cls-5 {
    fill: url(#pink-orange);
}

#tentacles_2 > .cls-6 {
    fill: url(#pink-orange);
}

#tentacles_3 > .cls-7 {
    fill: url(#pink-orange);
}

#tentacles_3 > .cls-8 {
    fill: url(#pink-orange);
}

#tentacles_4 > .cls-9 {
    fill: url(#pink-orange);
}

#tentacles_4 > .cls-10 {
    fill: url(#pink-orange);
}

#tentacles_5 > .cls-11 {
    fill: url(#pink-orange);
}

#tentacles_5 > .cls-12 {
    fill: url(#pink-orange);
}

#tentacles_1 > .cls-13 {
    fill: url(#pink-orange);
}

#tentacles_1 > .cls-14 {
    fill: url(#pink-orange);
}

#head >  .cls-15 {
    fill: url(#pink-orange);
}

#head >  .cls-16 > .cls-17 {
    fill: url(#pink-orange);
} */